body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 92px 50px 96px 50px;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 28px 31px;
  list-style-type: circle;
}

.header__menu-link {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
}

.header__link_active .header__menu-link {
  text-decoration: none;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 150px;
}
.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 184px;
  text-align: left;
  
}
.header__address-list {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-decoration: none;
  text-underline-offset: 4px;
  list-style-type: none;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__title {
  position: absolute;
  z-index: +1;
  width: 1000px;
  height: 385px;
  margin: 165px 50px auto;
  padding: 0 0 20px 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px;
  line-height: 130%;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.6;
  background: #000000;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {  
  display: block;
  flex-wrap: nowrap;
 }

.aligned-text_left { 
  text-align: left;
}

.aligned-text_center { 
  text-align: center;
}

.aligned-text_right { 
  text-align: right;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.cover__description-text {
  position: absolute;
  top: 668px;
  left: 50px;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 85%;
}

.bet-button {
  position: absolute;
  top: 656px;
  left: 794px;
  box-sizing: border-box;
  width: 256px;
  height: 51px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  background: none;
}

.lots {
  width: 1052px;
  margin: 180px 24px 120px 24px;

}

.lots__heading {
  left: 40px;
  margin-top: 0;
  margin-left: 40px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 1052px;
  margin-top: 27px;
  padding-bottom: 30px;
  list-style-type: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 334px;
  height: 596px;
}

.lots__card-list-item {
  flex-direction: column;
  flex: 1;
}

.card__title {
  z-index: +1;
  margin-top: 48px;
  margin-right: 40px;
  margin-left: 40px;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: +1;
  flex-direction: column;
  justify-content: end;
  margin: auto 40px 48px 40px;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
}

.card_type_film {
  width: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;

}

.card_type_book {
  width: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  width: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  display: block;

  width: 192px;
  height: 23px;
  margin-bottom: 2px;
  margin-left: 40px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

}

.about {
  width: 1052px;
  min-height: 595px;
  margin: 120px 24px 180px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 359px 693px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000000;

}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: 64px 45.52px 62px 46.48px;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 133px 0 13px 0;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 270px 2fr 270px;
  align-content: start;
  width: 1100px;
  min-height: 180px;
  padding: 0 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  width: 264.57px;
}

.footer__address-list {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-underline-offset: 4px;
  list-style-type: none;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -16px;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  align-items: flex-end;
  gap: 48px;
  width: 240px;
  height: 48px;
  margin-top: 6px;
  list-style: none;
}

.footer__social-icon {
  size: 48px 48px;
}